<link href="./css/nongeek.css" rel="stylesheet" />
<div id="loadingMask" style="width: 100%; height: 100%; position: fixed; background: #fff;"></div>
<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li> <a href="#intro">Welcome</a> </li>
        <li> <a href="#one">What we do</a> </li>
        <li> <a href="#two">Who we are</a> </li>
        <li> <a href="#three">Say Hello</a> </li>
      </ul>
    </nav>
  </div>
</section>
<!-- Wrapper -->
<div id="wrapper">
  <!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up welcome">
    <div class="inner">
      <h1>We are MIST</h1>
      <p>We are a team of Information and Network Security enthusiasts who have gathered knowledge about the field through workshops, online courses, books and research. We now want to spread the knowledge we have gained to other students with an interest in this ever-growing area of computer science. We want to ensure that students approach this field the right way and to provide them with a platform to enhance and practice their skills in the same. Last but not the least, we are not hackers. So if you are here with the intention of hacking into your ex's facebook account, I am afraid this is not the place for you.</p>
    </div>
  </section>
  <!-- One -->
  <section id="one" class="wrapper style3 fade-up">
    <div class="inner">
      <h2>What we do</h2>
      <p>We are committed to spreading awareness about the increasing need for Information and Network Security. We plan to train other like-minded students to enhance their skills and aptitude in this branch of computer science.</p>
      <div class="features">
        <section> <span class="icon major fa-wifi"></span>
          <h3>Cryptography</h3>
          <p>Cryptography or cryptology is the practice and study of techniques for secure communication in the presence of third parties called adversaries. More generally, cryptography is about constructing and analyzing protocols that prevent third parties or the public from reading private messages.</p>
        </section>
        <section> <span class="icon major fa-lock"></span>
          <h3>SQL and JS injections</h3>
          <p>SQL injection is a technique where malicious users can inject SQL commands into an SQL statement, via web page input. Injected SQL commands can alter SQL statement and compromise the security of a web application. Any type of parameter manipulation that you want to perform can typically be done with Javascript injection.</p>
        </section>
        <section> <span class="icon major fa-cog"></span>
          <h3>Network Security</h3>
          <p>Network security consists of the policies and practices adopted to prevent and monitor unauthorized access, misuse, modification, or denial of a computer network and network-accessible resources.</p>
        </section>
        <section> <span class="icon major fa-desktop"></span>
          <h3>Scripting</h3>
          <p>Scripts, in layman's terms, are programs written for a special run-time environment that automate the execution of tasks that could alternatively be executed one-by-one by a human operator. Originally designed to make life easier for us, they can also be misused to attack websites and applications in an attempt to steal valuable information.</p>
        </section>
        <section> <span class="icon major fa-chain"></span>
          <h3>Penetration Testing</h3>
          <p>A penetration test, or pen test, is an attempt to evaluate the security of an IT infrastructure by safely trying to exploit vulnerabilities. These vulnerabilities may exist in operating systems, service and application flaws, improper configurations, or risky end-user behavior.</p>
        </section>
        <section> <span class="icon major fa-code"></span>
          <h3>DDoS and other DoS attacks</h3>
          <p>DDoS is a type of DoS attack where multiple compromised systems, which are often infected with a Trojan, are used to target a single system causing a Denial of Service (DoS) attack.</p>
        </section>
        <section> <span class="icon major fa-ban"></span>
          <h3>Identity theft and Cyber fraud</h3>
          <p>Identity theft is the deliberate use of someone else's identity, usually as a method to gain a financial advantage or obtain credit and other benefits in the other person's name, and perhaps to the other person's disadvantage or loss. Cyberfraud refers to any type of deliberate deception for unfair or unlawful gain that occurs online.</p>
        </section>
        <section> <span class="icon major fa-bug"></span>
          <h3>Malware, rootkit and virus attacks</h3>
          <p>'Malware' is an umbrella term used to refer to a variety of forms of hostile or intrusive software, including computer viruses, worms, trojan horses, ransomware, spyware, adware, scareware, and other malicious programs. A rootkit is a type of malicious software that is activated each time your system boots up.</p>
        </section>
      </div>
    </div>
  </section>

  <!-- Two -->
  <!-- <section id="two" class="wrapper style2 spotlight"> -->
  <section id="two" class="wrapper style2 fade-up profiles">
    <div class="inner">
      <div class="features">
        <section class="profile">
          <div>
            <img src="./images/akhil.jpg">
            <div class="caption">
              <h3>Akhil Konda</h3>
              <span>President</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/kriti.jpeg">
            <div class="caption">
              <h3>Kriti Anandan</h3>
              <span>Vice-President</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/tushar.jpeg">
            <div class="caption">
              <h3>Tushar Pradhan</h3>
              <span>General Secretary</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/divya.jpeg">
            <div class="caption">
              <h3>Divya</h3>
              <span>Joint Secretary</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/tarun.jpeg">
            <div class="caption">
              <h3>Tarun Asthana</h3>
              <span>Treasurer</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/amit.jpeg">
            <div class="caption">
              <h3>Amit</h3>
              <span>Tech Head</span>
              <p></p>
            </div>
          </div>
        </section>
        <!-- <section class="profile">
          <div>
            <img src="./images/sarthak.jpg">
            <div class="caption">
              <h3>Sarthak Bhol</h3>
              <span>Tech Head</span>
              <p>bas bolo kya karna hai</p>
            </div>
          </div>
        </section> -->
        <!-- <section class="profile">
          <div>
            <img src="./images/akash.jpg">
            <div class="caption">
              <h3>R. Akashraj</h3>
              <span>Web Dev Head</span>
              <p>Sleep is for the weak</p>
            </div>
          </div>
        </section> -->
        <section class="profile">
          <div>
            <img src="./images/sanjeevi.jpeg">
            <div class="caption">
              <h3>Sanjeevi Kamath</h3>
              <span>HR Head</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/anurag.jpg">
            <div class="caption">
              <h3>Anurag Mishra</h3>
              <span>HR Head</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/tanya.jpeg">
            <div class="caption">
              <h3>Tanya Mittal</h3>
              <span>PR and Publicity Head</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/abhishek.jpeg">
            <div class="caption">
              <h3>Abhishek Sullia</h3>
              <span>Event and Sponsorship Head</span>
              <p></p>
            </div>
          </div>
        </section>
        <section class="profile">
          <div>
            <img src="./images/krishna.jpeg">
            <div class="caption">
              <h3>Krishna Gupta</h3>
              <span>Graphics Head</span>
              <p></p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- Three -->
  <section id="three" class="wrapper style1 fade-up">
    <div class="inner">
      <h2>Say Hello</h2>
      <p>If you are interested in our objectives or activities, feel free to hit us up.</p>
      <section>
        <ul class="contact">
          <li>
            <h3>Address</h3> <span>Manipal Institute of Technology<br/>
                                    Manipal, Karnataka 576104<br/>
                                    India</span>
          </li>
          <li>
            <h3>Email</h3> <span>sudo@wearemist.in</span>
          </li>
          <li>
            <h3>Social</h3>
            <ul class="icons">
              <li>
                <a href="https://www.facebook.com/wearemist.in/" class="fa-facebook"> <span class="label">Facebook</span> </a>
              </li>
              <li>
                <a href="https://www.github.com/WeAreMIST" class="fa-github"> <span class="label">GitHub</span> </a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </section>
</div>
<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
  <div class="inner">
    <ul class="menu">
      <li>&copy; MIST. All rights reserved.</li>
      <li>Made with <span class="heart">&hearts;</span> by MIST</li>
    </ul>
  </div>
</footer>
<!-- Scripts -->
