<link href="./css/nongeek.css" rel="stylesheet" />
<div id="loadingMask" style="width: 100%; height: 100%; position: fixed; background: #fff;"></div>
<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li> <a ng-click="scrollTo('intro')">Welcome</a> </li>
        <li> <a ng-click="scrollTo('one')">Who we are</a> </li>
        <li> <a ng-click="scrollTo('two')">What we do</a> </li>
        <li> <a ng-click="scrollTo('three')">Say Hello</a> </li>
      </ul>
    </nav>
  </div>
</section>
<!-- Wrapper -->
<div id="wrapper">
  <!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>We are MIST</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.</p>
      <ul class="actions">
        <li> <a ng-click="scrollTo('one')" class="button scrolly">Learn more</a> </li>
      </ul>
    </div>
  </section>
  <!-- One -->
  <section id="one" class="wrapper style2 spotlights">
    <section>
      <a href="#" class="image" style="background-image: url(&quot;images/pic01.jpg&quot;); background-position: center center;"></a>
      <div class="content">
        <div class="inner">
          <h2>Person 1</h2>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li> <a class="button">Learn more</a> </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="#" class="image" style="background-image: url(&quot;images/pic02.jpg&quot;); background-position: center top;"></a>
      <div class="content">
        <div class="inner">
          <h2>Person 2</h2>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li> <a class="button">Learn more</a> </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="#" class="image" style="background-image: url(&quot;images/pic02.jpg&quot;); background-position: 25% 25%;"></a>
      <div class="content">
        <div class="inner">
          <h2>Person 3</h2>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li> <a class="button">Learn more</a> </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <!-- Two -->
  <section id="two" class="wrapper style3 fade-up">
    <div class="inner">
      <h2>What we do</h2>
      <p>Defend your roots id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
      <div class="features">
        <section> <span class="icon major fa-code"></span>
          <h3>Lorem ipsum amet</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
        </section>
        <section> <span class="icon major fa-lock"></span>
          <h3>Aliquam sed nullam</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
        </section>
        <section> <span class="icon major fa-cog"></span>
          <h3>Sed erat ullam corper</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
        </section>
        <section> <span class="icon major fa-desktop"></span>
          <h3>Veroeros quis lorem</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
        </section>
        <section> <span class="icon major fa-chain"></span>
          <h3>Urna quis bibendum</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
        </section>
        <section> <span class="icon major fa-diamond"></span>
          <h3>Aliquam urna dapibus</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
        </section>
      </div>
      <ul class="actions">
        <li> <a class="button">Learn more</a> </li>
      </ul>
    </div>
  </section>
  <!-- Three -->
  <section id="three" class="wrapper style1 fade-up">
    <div class="inner">
      <h2>Say Hello</h2>
      <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
      <div class="split style1">
        <section>
          <form method="post" action="#">
            <div class="field half first">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" /> </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" /> </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="5"></textarea>
            </div>
            <ul class="actions">
              <li> <a href="" class="button submit">Send Message</a> </li>
            </ul>
          </form>
        </section>
        <section>
          <ul class="contact">
            <li>
              <h3>Address</h3> <span>Manipal Institute of Technology<br/>
                                      Manipal, Karnataka 576104<br/>
                                      India</span> </li>
            <li>
              <h3>Email</h3> <a href="#">wearemist@darkoperator.in</a> </li>
            <li>
              <h3>Phone</h3> <span>000-000-0000</span> </li>
            <li>
              <h3>Social</h3>
              <ul class="icons">
                <li>
                  <a href="#" class="fa-facebook"> <span class="label">Facebook</span> </a>
                </li>
                <li>
                  <a href="#" class="fa-twitter"> <span class="label">Twitter</span> </a>
                </li>
                <li>
                  <a href="#" class="fa-github"> <span class="label">GitHub</span> </a>
                </li>
                <li>
                  <a href="#" class="fa-instagram"> <span class="label">Instagram</span> </a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
  <div class="inner">
    <ul class="menu">
      <li>&copy; MIST. All rights reserved.</li>
      <li>Made with &hearts; by Ujjwal Arora.</li>
    </ul>
  </div>
</footer>
<!-- Scripts -->
